In [0]:
import pandas as pd

In [46]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[3]

1.0

d1=pd.Series([1,2,3,4],index=['a','b','c','d'])

1.   List item
2.   List item


d1['b']

In [12]:
d2=pd.Series({'California':87777,'Texas':77777,'New York':7763636,'Florida':34344})
d2['California':'Florida']

California      87777
Texas           77777
New York      7763636
Florida         34344
dtype: int64

In [15]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [22]:
d4=pd.Series({'California':877,'Texas':777,'New York':776,'Florida':34344})
states=pd.DataFrame({'population':d2,'area':d4})
states.population

California      87777
Texas           77777
New York      7763636
Florida         34344
Name: population, dtype: int64

In [23]:
data=[{'a':i,'b':2*i} for i in range(3) ]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [32]:
ind=pd.Index([2,3,5,7,11])
ind[0]=9

TypeError: ignored

In [37]:
ind1=pd.Index([1,3,5,6,9])
ind2=pd.Index([2,3,5,7,11])
ind1 & ind2
ind1 | ind2
ind1 ^ ind2

Int64Index([1, 2, 6, 7, 9, 11], dtype='int64')

In [48]:
'a' in data
#data
data[(data>0.3) & (data<0.8)]

b    0.50
c    0.75
dtype: float64

In [47]:
0.25 in data.values

True

In [57]:
data1=pd.Series([0.25,0.5,0.75,1.0],index=[1,3,4,7])
data1.loc[1]
data1.iloc[1]

0.5

In [78]:
d5=pd.DataFrame({'area': d2,'pop':d4})
#d5['area']
#d5.area is data['area']
d5['density']=d5['area']/d5['pop']
d5

               area    pop       density
California    87777    877    100.087799
Texas         77777    777    100.099099
New York    7763636    776  10004.685567
Florida       34344  34344      1.000000

In [83]:
d5.loc[:'New York', :'pop']
d5.area[d5.density>200]

New York    7763636
Name: area, dtype: int64